#diff-container
{
    position: absolute;
    top: 60px;
    bottom: 230px;
    left: 0;
    right: 0;

    .col-xs-6
    {
        height: 100%;
    }

    .diff-area
    {
        width: 100%;
        height: 100%;

        font-family: "Consolas", monospace;
        overflow-x: hidden;
        overflow-y: scroll;

        &.diff-left
        {

        }
        &.diff-right
        {

        }
    }
}